
	
	@media (min-width: 768px) and (max-width: 1024px ) {
		h1, h2, h3, h4, h5, p  {
			font-size: 100% !important;
		}	
		/* ACCEUIL */
		/* marge bloc titre */
		.elementor-element .elementor-element-342eefe  {
			padding: 0px 0px -10px 0px;
		}
		/* Bloc cannette */
		.elementor-element .elementor-element-5f4221d  {
			width: 100% ;
		}
		/* feuille gauche */
		.elementor-element .elementor-element-a07db66 .wp-image-281 {
			width: 100% !important;
		}
		.elementor-element .elementor-element-0eaf590 {
			margin-bottom: 0px
				}
		.elementor-element .elementor-element-5f4221d  {
			
			padding-bottom: 250px;
			margin-left: 0px !important;
			
		}
		
		/* feuille droite */
		.elementor-element .elementor-element-00a26d7 .wp-image-280{
			width: 60%;
			
		}
		/* cannette */
		.elementor-element .elementor-element-858cc8d .wp-image-288 {
			width: 60%;
		}

		
		
/* PAGE NOUS RENCONTRER */


 /* images l'équipe */
 /* bloc */
 .elementor-40 .elementor-element.elementor-element-c3ce7dd {
	padding-left: 0px;
	padding-right: 0px;
	display: flex;
	justify-content: center;
 }
 .elementor-element .elementor-element-e0614ba .wp-image-281 {
	width: 10% !important;
 }
 /* formulaire */
 .elementor-element .elementor-element-c5c6efd  {
	width: 60% !important ;
 }
 .elementor-element .elementor-element-c5c6efd label {
	font-size: 80%;
	text-align: left;
 }
 /* feuilles */
 .elementor-element .elementor-element-641d995 .wp-image-506  {
	width: 20%;
	
 }
/* PAGE COMMANDER */
 /* sous titre */
 .elementor-67 .elementor-element.elementor-element-86f9281 .elementor-widget-container {
	margin: -25px 0px 0px 50px;
 }
 /* images commande */
 .elementor-element .elementor-element-8afd33a  {
	width: 100% !important;
 }
 .elementor-element .elementor-element-4e3a413 .gallery-item {
	margin: 10px;
 }
.elementor-element .elementor-element-1b8c16a {
	width: 100%;
	margin-top: -130px;
	
}
.elementor-element .elementor-element-1b8c16a h2 {
	font-size: 50% !important;
	
}
/* commande */
.formulaire {
	width: 100%;
	display: flex;
	
}
.formulaire h2 {
	font-size: 100% !important;
}
.ligne {
	height: 2px;
	width: 100%; 
	background-color: #ffff;
	margin-top: 10px;
	}
	/* formulaire compteur */
.compteur {
	display: flex !important;
	gap: 110px !important;
	
}

}

	               /* ........................ */

@media (min-width: 320px ) and (max-width: 767.98px) {
	h1, h2, h3, h4, h5, p  {
		font-size: 90% !important ;
	}
	/* PAGE ACCUEIL */
	/*mise en place canette et feuille */
.elementor-56 .elementor-element.elementor-element-342eefe .elementor-widget-container{
		padding: 0px 0px 15px 0px !important;
	}
	/*marge bloc boisson*/
.elementor-element .elementor-element-5f4221d {
	
		padding-bottom: 200px;
	}	
	/* feuille gauche*/
.elementor-56 .elementor-element.elementor-element-a07db66 {
		margin-left: 60px !important;
	}
		 .wp-image-281 {
			width: 60%;
		}
	/* feuille droite */	
		
	.elementor-element .elementor-element-00a26d7 .wp-image-280 {
			
			margin-right: 50px !important;
		}
		.wp-image-280 {
			width: 50% !important ;
		}
		/*canette*/
		.elementor-56 .elementor-element.elementor-element-858cc8d {
			left: 0px !important;
		}	
		.wp-image-288 {
			width: 60%;
			padding-left: 70px;
			
	}
		

	.elementor-element .elementor-element-a07db66 .wp-image-281 {
		width: 40%;
		display: grid;
		justify-items: left;
	}
	.elementor-element .elementor-element-00a26d7 .wp-image-280 {
		margin-left: -20px;
	}
	.elementor-element .elementor-element-d483368  {
		width: 60% !important;
		
	}
 /* Textes les gouts */
 .elementor-element .elementor-element-2f236a9 .elementor-heading-title {
	font-size: 50% !important;
	
	width: auto !important;
 }
 .elementor-element .elementor-element-301c2fe .elementor-heading-title {
	font-size: 50%!important ;
	width: auto !important;
 }
 /* PAGE NOUS RENCONTRER */
 .elementor-40 .elementor-element.elementor-element-453113f {
	padding: 0px;
 }
 .elementor-element .elementor-element-10ce064 p {
	padding-left: 0px;
	padding-right: 0px;
 }
 /* images l'équipe */
 /* bloc */
 .elementor-40 .elementor-element.elementor-element-c3ce7dd {
	padding-left: 0px;
	padding-right: 0px;
	display: flex;
	justify-content: center;

 }
/* feuilles */
.elementor-element .elementor-element-641d995 .wp-image-281  {
	width: 10% !important;
	margin-top: -50px;
 }
 /* formulaire */
 .elementor-element .elementor-element-c5c6efd  {
	width: 60% !important;
 }
 .elementor-element .elementor-element-c5c6efd label {
	font-size: 80%;
	text-align: left;
 }
 .elementor-element .elementor-element-641d995 .wp-image-506  {
	width: 20%;
	margin-right: -100px;
	
 }
 /* feuilles */
.elementor-element .elementor-element-641d995 .wp-image-506  {
	width: 15% !important;
}
 /* PAGE COMMANDER */
 /* sous titre */
.elementor-67 .elementor-element.elementor-element-86f9281 .elementor-widget-container {
	margin: -25px 0px 0px 50px;
 }
 /* images commande */
 .elementor-element .elementor-element-8afd33a  {
	width: 100% !important;
 }

.elementor-element .elementor-element-1b8c16a {
	width: 100%;
	margin-top: -130px;
	padding-top: 50px !important;
	height: 100%
}
.elementor-element .elementor-element-1b8c16a h2 {
	font-size: 50% !important;
	
}
 
 /* formulaire compteur */
 .compteur {
	display: flex !important;
	gap: 50px !important;
	padding-top: 20px;
	
}

/* commande */
.formulaire {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.formulaire h2 {
	font-size: 100% !important;
}
.ligne {
	height: 2px;
	width: 100%; 
	background-color: #ffff;
	margin-top: 10px;
	}
}



