@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap" rel="stylesheet');

/* Import de la font Syne depuis Google Fonts et on l'applique sur tous les éléments de la page */
body * {
	font-family: "Syne", sans-serif;
	margin-top: 0px;
}

.entry-content {
	width: 100%;
}


nav a {
	color: black !important;
	display: inline-block;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none !important;
}

li a:hover {
	color: white !important;
	background: #D2776A;
	text-decoration: none !important;
	padding: 35px 40px 35px 40px;
	margin: 0px;
}

/* général*/
h1 {
	font-size: 36px;
	font-family: "Syne", sans-serif !important;
	font-weight: 900 !important;
	color: #3B8E46 !important;
	text-align: center;
}

h2 {
	font-size: 30px;
	font-family: "Syne", sans-serif !important;
	font-weight: 900 !important;
	color: #3B8E46 !important;
	text-align: center;
}

h3 {
	font-size: 26px;
	font-family: "Syne", sans-serif !important;
	font-weight: normal !important;
	color: #3B8E46 !important;
	text-align: center;
}

h4 {
	font-size: 22px;
	font-family: "Syne", sans-serif !important;

	text-align: center;
}

h5 {
	font-size: 20px;
	font-family: "Syne", sans-serif !important;
	color: black;
	text-align: center;
}

p {
	font-size: 18px;
	text-align: center;
	color: black;
}

.reduced-spacing.missing-post-thumbnail .post-inner {
	margin-left: 0px;
	margin-right: 0px;
}

/* header */
.singular .entry-header {

	margin: -250px 15px 0px 15px;
}


.site-logo .custom-logo {
	width: 50%;
	height: auto;
}

.header-inner {
	display: flex;
	justify-content: space-around;
	padding-bottom: 0px;
}

/* footer*/
.site-footer .footer {
	padding: 20px;
	color: #000000 !important;
	text-align: center;

}

/* accueil*/
.elementor-element.elementor-element-342eefe {
	padding-top: 250px;
}

.elementor-56 .elementor-element.elementor-element-7c6d70e0 {
	width: 100%;
	background-color: #ece2da;

}

.elementor-56 .elementor-element.elementor-element-0eaf590 {
	width: 100%;
	background-color: #ece2da;
	border-bottom-right-radius: 7%;
	border-bottom-left-radius: 7%;
}

/* LES GOUTS */
.elementor-element .elementor-element-0e4728e .elementor-heading-title {
	color: #D2776A !important;
	font-family: "Syne", sans-serif !important;
	font-weight: 900 !important;
}

/* Arrondis bloc */
.elementor-element.elementor-element-497b00a {
	border-bottom-right-radius: 7%;
	border-bottom-left-radius: 7%;
}
.elementor-element .elementor-element-595df1d {
	display: flex;
	flex-direction: column;
}
/* Titres images */
.elementor-element .elementor-element-2224221 .elementor-heading-title {
	color: white !important;
}

.elementor-element .elementor-element-2629b3c .elementor-heading-title {
	color: white !important;

}

.elementor-element .elementor-element-544482a .elementor-heading-title {
	color: white !important;
}

.elementor-element .elementor-element-3f77966 .elementor-heading-title {
	color: white !important;
}

/*button*/
.elementor-element .elementor-element-ffffc34 .elementor-button-content-wrapper {
	justify-content: center;
	background: #E0B9B4 !important;
	color: white !important;
}

.elementor-element .elementor-element-ffffc34 a {
	background-color: #E0B9B4;
	padding: 20px 35px 20px 35px;
	border-radius: 5px;
	margin: 20px;
}

.wp-block-image {
	display: flex;
	padding-left: 10px;
}

/*mise en forme "ce qu'ils en pensent"*/

/*titre Fathia*/
.elementor-element .elementor-element-3c0a467 .elementor-widget-container .elementor-heading-title {
	color: #3B8E46 !important;
	font-size: 26px;

	font-weight: bold !important;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 0px;
}

/*text Fatiha*/
.elementor-56 .elementor-element .elementor-element-9046a2d p {
	font-size: 15px !important;
	text-align: left !important;
}

/*titre Véro*/
.elementor-element .elementor-element-eccff35 .elementor-widget-container .elementor-heading-title {
	color: #3B8E46 !important;
	font-size: 26px;
	font-weight: bold !important;
	margin-top: 10px;
	margin-bottom: 0px;
}

/*text Véro*/
.elementor-56 .elementor-element .elementor-element-f39c475 p {
	font-size: 15px !important;
	text-align: left !important;

}

/*titre Marc*/
.elementor-element .elementor-element-27636ef .elementor-widget-container .elementor-heading-title {
	color: #3B8E46 !important;
	font-size: 26px;
	font-weight: bold !important;
	text-align: left;
	padding-bottom: 0px;
	margin-top: 10px;
	margin-bottom: 0px;
}

/*text Marc*/
.elementor-56 .elementor-element .elementor-element-f75e1d4 p {
	font-size: 15px !important;
	text-align: left !important;
	padding: 4px;
}

/* NOUS RENCONTRER */
.elementor-40 .elementor-element.elementor-element-453113f {
	width: 100%;
	background-color: #ece2da;
	border-bottom-right-radius: 7%;
	border-bottom-left-radius: 7%;
	padding: 50px 100px 50px 100px;
}

/*image*/
.elementor-element .elementor-element-d5bd055 .wp-image-302 {
	width: 15%;
	margin-bottom: -300px;
	display: flex;
	justify-content: left;
}

/*titre*/
.elementor-element .elementor-element-4da7625 .elementor-heading-title {
	color: #D2776A !important;
	font-family: "Syne", sans-serif !important;
	font-weight: 900 !important;
}

/*texte*/
.elementor-element .elementor-element-10ce064 p {
	font-family: "Syne", sans-serif !important;

}


/* titre l'équipe*/
/* titre*/
.elementor-element .elementor-element-55c3691 .elementor-heading-title {
	color: black !important;
	font-weight: bold;

}

/* images*/
.elementor-element .elementor-element-1d117c8 {
	display: flex;
	gap: 20px;
	justify-content: center;
}

/* noms fonctions */

.elementor-40 .elementor-element.elementor-element-eeb7f0a {
	margin-left: 20px;
	margin-right: 20px;
}

.elementor-element .elementor-element-e28c391 .elementor-heading-title {
	color: black !important;

}

.elementor-element .elementor-element-eeb7f0a .elementor-heading-title {
	color: black !important;

}

.elementor-element .elementor-element-7943f0e .elementor-heading-title {
	color: black !important;

}

/* image feuille*/
.elementor-element .elementor-element-e0614ba .wp-image-281 {
	width: 15%;
	margin-top: -150px;
	margin-right: 15px;

}

/*formulaire*/
/*background*/
.elementor-40 .elementor-element.elementor-element-094abec {
	background-color: #ece2da;

}

/*nous contacter*/
/*titre*/
.elementor-element .elementor-element-9dc6753 .elementor-heading-title {
	color: black !important;

}


/* COMMANDER */
/* sous titre */
.elementor-element .elementor-element-86f9281 .elementor-heading-title {
	font-weight: 700 !important;

}

.post-67 {
	color: white !important;
}

/* titre page */
.elementor-67 .elementor-element.elementor-element-8320e05 .elementor-heading-title {
	color: white !important;
}

.elementor-element .elementor-element-86f9281 .elementor-heading-title {
	color: white !important;
	text-align: left;
}

/* Texte fruits */
.elementor-element .elementor-element-9e3a73d .elementor-heading-title {
	color: white !important;
}

.elementor-element .elementor-element-c595c98 .elementor-heading-title {
	color: white !important;
}

.elementor-element .elementor-element-8fab661 .elementor-heading-title {
	color: white !important;
}

.elementor-element .elementor-element-aa0ed5a .elementor-heading-title {
	color: white !important;
}

/* format quantité */
.compteur {
	display: flex;
	justify-content: center;
}


/* formulaire */
.formulaire h2 {
	color: white !important;
	font-size: 26px;
	text-align: left;
	font-weight: 700 !important;
}

.formulaire label {
	text-align: left !important;
}

.formulaire {
	display: flex;
	justify-content: center;
	gap: 50px;
}

.colonne {
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
}

.elementor-element.elementor-element-03a84a9 {
	padding-left: 10px;
}

.elementor-element .elementor-element-9046a2d p {
	font-size: 60% !important;
}

.ligne {
	width: 2px;
	background-color: #ffff;
	margin-top: 50px;
}

/* ......................... */